.playing-field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  block-size: 100%;
  padding: 20px 0;
}

.playing-field__title {
  color: #313030;
}

.game-container {
  inline-size: 100%;
  display: flex;
  justify-content: space-around;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card {
  background-color: var(--main-color);
  cursor: pointer;
  padding: 10px;
  inline-size: 100px;
  block-size: 100px;
  border-radius: 2px;
}

.card--flipped .card__inner {
  transform: rotateY(180deg);
}

.card__inner {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  transform-style: preserve-3d;
  transition: 0.5s cubic-bezier(0.38, 0.02, 0.09, 1.66) all;
}

.card-image {
  inline-size: 100%;
  block-size: 100%;
}

.card__front-side,
.card__back-side {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  backface-visibility: hidden;
}

.card__front-side {
  background-color: var(--secondary-color);
  transform: rotateY(180deg);
}

.card__back-side {
  background-color: var(--accent-color);
  font-size: 100px;
  transition: 0.3s ease all;
  border-radius: 2px;
}

.card__back-side:hover {
  background: var(--accent-color);
  transform: scale(1.1);
}

.game-info {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  padding: 10px;
  opacity: 0.9;
  position: relative;
}

.game-info__title {
  color: #313030;
}

.progress,
.count-steps,
.count-score,
.count-errors,
.safe-moves,
.timer,
.count-game,
.session-best-score,
.max-history-score {
  color: var(--main-color);
  text-shadow: 0.5px 0.5px 1px var(--accent-color);
  font-family: var(--title-font);
  font-size: 16px;
  border-bottom: 1px solid var(--secondary-color);
  inline-size: 100%;
  margin-left: 10px;
}

.current-difficult p {
  font-family: var(--title-font);
  font-size: 20px;
  color: var(--main-color);
  text-shadow: 1px 1px 2px var(--accent-color);
}

.current-difficult__value {
  color: var(--secondary-color);
  text-shadow: 1px 1px 2px var(--secondary-color);
  position: relative;
}

.current-difficult__value::after {
  content: '';
  inline-size: 115%;
  block-size: 115%;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  transition: inline-size 0.3s ease;
  z-index: -1;
}
