.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.loader__spinner {
  border: 10px solid rgba(255, 255, 255, 0.3);
  border-top: 10px solid #b8d357;
  border-radius: 50%;
  inline-size: 100px;
  block-size: 100px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

.loader-message {
  font-family: var(--description-font-medium);
  font-size: 16px;
  color: var(--main-color);
  text-shadow: 1px 1px 2px var(--accent-color);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
