.popular-articles {
  background-color: var(--main-bg-color);
  position: relative;
  z-index: 0;
}

.popular-articles--container {
  padding-top: 143px;
  position: relative;
  z-index: 0;
}

.popular-articles__cards-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 115px 40px;
}
