.popular-articles {
  background-color: #fcfaf9;
  position: relative;
  z-index: 0;
}

@media (min-width: 1981px) and (max-width: 3840px) {
  .popular-articles::after {
    background-size: contain;
  }
}

.popular-articles--container {
  padding-top: 203px;
  /* padding-bottom: 58px; */
  position: relative;
  z-index: 0;
}

.popular-articles__cards-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 115px 40px;
}
