.settings-page {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--accent-color);
  padding: 40px;
  border-radius: 2px;
}

.settings-page__title {
  font-family: var(--title-font);
  color: var(--main-color);
  text-shadow: 3px 3px 2px var(--secondary-color);
}

.settings {
  font-family: var(--subtitle-font);
  color: var(--main-color);
  text-shadow: 3px 3px 2px var(--secondary-color);
  font-size: 20px;
  font-weight: bold;
}

.difficulty__subtitle {
  margin-bottom: 10px;
}

.button.start-game-button::after {
  background-color: var(--secondary-color);
}
