.hero-section {
  padding: 153px 0 0;
  position: relative;
  z-index: 0;
  background-color: var(--main-bg-color);
}

.hero--container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin-bottom: 127px;
  position: relative;
}

.hero-section__image-wrapper {
  position: relative;
  flex-shrink: 0;
  inline-size: 480px;
  block-size: 560px;
}

.hero-section__mask {
  inline-size: 100%;
  block-size: 100%;
  position: relative;
}

.hero-section__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: bottom;
}

.hero-section__sticker {
  content: '';
  inline-size: 180px;
  block-size: 180px;
  position: absolute;
  top: 0;
  left: 300px;
  transition: transform 2s ease;
  cursor: pointer;
}

.hero-section__sticker:hover {
  transform: rotate(360deg);
}

.hero-section__content {
  padding-top: 45px;
}

.hero-section__tags {
  display: flex;
}

.section-tags-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-section__tags-wrapper {
  display: flex;
}

.hero-section__tag {
  color: #94ac23;
  margin-bottom: 18px;
  padding: 8px 0;
}

.main--hero-tag {
  color: #1b1f21;
  background: #bedb39;
  padding: 8px 18px;
  margin-right: 6px;
}

.hero-section__title {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  /* color: #1b1f21; */
  color: var(--title-color);
  margin-bottom: 16px;
}

.hero-section__description {
  font-family: var(--text-font);
  font-weight: var(--regular-font-weight);
  font-size: 18px;
  line-height: 160%;
  color: var(--description-color);
  margin-bottom: 17px;
  max-inline-size: 480px;
}

.hero-section__button {
  margin-top: 57px;
  border-radius: 40px;
  inline-size: 230px;
  block-size: 57px;
  background: #bedb39;
  font-family: var(--text-font);
  font-weight: var(--medium-font-weight);
  font-size: var(--text-18-font-size);
  line-height: var(--text-18-line-height);
  color: #1b1f21;
  outline: 1.5px solid #1b1f21;
  outline-offset: -5px;
}
