.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  right: 1.1%;
}

.timer-clock {
  position: relative;
  inline-size: 100px;
  block-size: 100px;
  border-radius: 50%;
  background-color: #444343;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.timer-clock__progress {
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  border-radius: 50%;
  background: conic-gradient(
    var(--main-color) var(--progress),
    var(--accent-color) var(--progress)
  );
  z-index: 1;
}

.timer-clock__circle {
  inline-size: 70px;
  block-size: 70px;
  border-radius: 50%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.timer-clock__time {
  font-size: 16px;
  font-weight: bold;
  color: var(--accent-color);
  font-family: var(--title-font);
}
