@font-face {
  font-family: "Archivo Black";
  src: local("ArchivoBlack-Regular"),
    url("/fonts/ArchivoBlack-Regular.woff2") format("woff2"),
    url("/fonts/ArchivoBlack-Regular.woff") format("woff"),
    url("/fonts/ArchivoBlack-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito-Regular"),
    url("/fonts/Nunito-Regular.woff2") format("woff2"),
    url("/fonts/Nunito-Regular.woff") format("woff"),
    url("/fonts/Nunito-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito-Medium"),
    url("/fonts/Nunito-Medium.woff2") format("woff2"),
    url("/fonts/Nunito-Medium.woff") format("woff"),
    url("/fonts/Nunito-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito-Bold"),
    url("/fonts/Nunito-Bold.woff2") format("woff2"),
    url("/fonts/Nunito-Bold.woff") format("woff"),
    url("/fonts/Nunito-Bold.ttf") format("ttf");
  font-weight: 700;
}
