@import url(../components/PlayingField/PlayingField.css);
@import url(../components/BackButton/BackButton.css);
@import url(../components/MainMenu/MainMenu.css);
@import url(../components/StatisticsPage/StatisticPage.css);
@import url(../components/SettingsPage/SettingsPage.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #969393;
  min-block-size: 100vb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  transition: 0.3s ease all;
  cursor: pointer;
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #d2cfd3;
}

.button:hover {
  background: #5e5c5c;
  transform: scale(1.1);
  color: #d2cfd3;
}
