.subscribe {
  display: flex;
  background-color: #f2f2f2;
  padding: 173px 0;
  position: relative;
}
.subscribe-wrapper {
  background: url(./images/form-bg.png) no-repeat center center;
  background-size: contain;
  inline-size: 100%;
  block-size: 518px;
  padding: 64px 480px 64px 104px;
  position: relative;
  z-index: 0;
}

.subscribe-wrapper::after {
  content: "";
  background: url(./images/form-Line-bg.png) no-repeat;
  inline-size: 100%;
  block-size: 110%;
  position: absolute;
  top: -47px;
  right: -90px;
  z-index: -1;
}

.subscribe-wrapper::before {
  content: "";
  background: url(./images/form-illustration.png);
  inline-size: 416px;
  block-size: 518px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.subscribe__title {
  font-family: var(--heading-font);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  font-weight: var(--regular-font-weight);
  color: #fcfaf9;
  margin-bottom: 8px;
}
.subscribe__description {
  font-family: var(--text-font);
  font-size: var(--text-18-font-size);
  font-weight: var(--regular-font-weight);
  line-height: var(--text-18-line-height);
  color: #fcfaf9;
  margin-bottom: 88px;
  padding-right: 30px;
}

.subscribe__form {
  padding-right: 47px;
}

.subscribe-form__controls {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.subscribe-form__controls-wrapper {
}

.subscribe-form__input-label {
  display: block;
}

.subscribe-form__input {
  border: 1.5px solid #fcfaf9;
  border-radius: 88px;
  padding: 10px 24px;
  width: 280px;
  height: 49px;
  background-color: transparent;
  font-family: var(--text-font);
  font-weight: var(--medium-font-weight);
  font-size: var(--text-18-font-size);
  line-height: var(--text-18-line-height);
  color: #fcfaf9;
}

.subscribe-form__input:focus {
  border: none;
  outline: none;
}

.subscribe-form__input:focus-visible {
  outline: none;
  border: 1.5px solid #1b1f21;
}

.subscribe-form__input:disabled {
  opacity: 0.6;
}

.subscribe-form__input:invalid:not(:placeholder-shown) {
  border: 1.5px solid #ffad20;
  background: url(./images/invalid-input-icon.svg) no-repeat right
    16px center;
  background-size: 25px;
}

.subscribe-form__input:valid:not(:placeholder-shown) {
  border: 1.5px solid #bedb39;
  background: url(./images/valid-input-icon.svg) no-repeat right 16px
    center;
  background-size: 25px;
}

.subscribe-form__input::placeholder {
  font-family: var(--text-font);
  font-size: var(--text-18-font-size);
  font-weight: var(--medium-font-weight);
  line-height: var(--text-18-line-height);
  color: #e8e8e8;
}

.subscribe-form__input:hover.subscribe-form__input::placeholder {
  color: #fcfaf9;
}

.error-message {
  display: none;
  font-family: var(--text-font);
  font-weight: var(--medium-font-weight);
  font-size: var(--text-13-font-size);
  line-height: var(--text-13-sls-line-height);
  text-align: center;
  color: #fff;
  max-inline-size: 280px;
}

.subscribe-form__input:invalid:not(:placeholder-shown) + .error-message {
  display: block;
}

.subscribe-form__button {
  inline-size: 280px;
  block-size: 49px;
  background-color: #fe6d44;
  font-family: var(--text-font);
  font-size: var(--text-18-font-size);
  line-height: var(--text-18-line-height);
  font-weight: var(--bold-font-weight);
  border-radius: 40px;
  padding: 10px 0px;
  color: #fcfaf9;
}

.subscribe-form__button:focus {
  border: none;
}

.subscribe-form__button:focus-visible {
  border: none;
  outline: 2px solid #1b1f21;
}

.subscribe-form__button:hover,
.subscribe-form__button:active {
  background: #1b1f21;
  color: #fcfaf9;
}

.subscribe__form-button:disabled {
  opacity: 0.6;
}

.subscribe-form__checkbox-wrapper {
  display: flex;
  gap: 16px;
}

.subscribe-form__input-checkbox {
  display: none;
}

.subscribe-form__custom-checkbox {
  display: inline-block;
  inline-size: 24px;
  block-size: 24px;
  border: 1.5px solid #fcfaf9;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.subscribe-form__custom-checkbox:hover {
  background-color: rgba(242, 242, 242, 0.2);
}

.subscribe-form__input-checkbox:disabled + .subscribe-form__custom-checkbox {
  opacity: 0.4;
  cursor: not-allowed;
}

.subscribe-form__input-checkbox:focus + .subscribe-form__custom-checkbox {
  border: 2px solid #1b1f21;
}

.subscribe-form__input-checkbox:focus:not(:checked)
  + .subscribe-form__custom-checkbox {
  border: 1.5px solid #fcfaf9;
}

.subscribe-form__input-checkbox:checked + .subscribe-form__custom-checkbox {
  background: url(./images/checkbox-checked-icon.svg) no-repeat
    center center;
  background-size: 14px 9px;
  background-color: #fcfaf9;
  border: none;
}

.subscribe-form__checkbox-info {
  font-family: var(--text-font);
  font-size: var(--text-15-font-size);
  font-weight: var(--regular-font-weight);
  line-height: var(--text-15-line-height);
  color: #fcfaf9;
}

.subscribe-form__checkbox-info a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.subscribe-form__success-submit-wrapper {
  margin-top: 145px;
}

.subscribe-form__success-submit {
  border-radius: 88px;
  padding: 10px 24px;
  background: #fcfaf9;
  position: relative;
  display: none;
}

.subscribe-form__success-submit::before {
  content: "";
  inline-size: 120px;
  block-size: 120px;
  background: url(./images/form-success-submit-sticker.png);
  position: absolute;
  top: -60px;
  right: 65px;
}
.subscribe-form__success-message {
  font-family: var(--text-font);
  font-weight: var(--bold-font-weight);
  font-size: var(--text-18-font-size);
  line-height: var(--text-18-line-height);
  color: #57acbc;
}

.active {
  display: block;
}

.inactive {
  display: none;
}
