@media (max-width: 1279px) {
  .header {
    padding-inline: 32px;
  }

  .container {
    margin: 0 auto;
    inline-size: 704px;
  }

  .header--container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 16px;
    align-items: center;
  }

  .header__logo {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .header__menu {
    grid-column: 1 / 3;
    grid-row: 2;
    justify-self: center;
  }

  .header__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .header__search {
    grid-column: 2 / 3;
    grid-row: 1;
    justify-self: end;
    margin-right: 25px;
  }

  .hero-section {
    margin-top: 133px;
    padding: 48px 32px;
  }

  .hero-section::after {
    background: url(/images/tablet-hero-linebg.svg) no-repeat;
    top: -184px;
    left: -322px;
  }

  .hero--container {
    display: block;
  }

  .hero-section__content {
    padding-top: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 6px 18px;
  }

  .hero-section__image {
    margin: 0 auto;
    inline-size: 100%;
    block-size: 320px;
    position: relative;
  }

  .hero-section__image img {
    mask-image: url(/images/hero-mask-tablet.png);
    object-position: 100% 50%;
  }

  .hero-section__sticker {
    top: -23px;
    left: 546px;
    scale: 0.675;
  }

  .hero-section__tags {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: start;
    justify-self: end;
  }

  .hero-section__title {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    align-self: start;
    margin-left: 5px;
  }

  .hero-section__meta {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: start;
  }

  .hero-section__description {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    align-self: start;
    margin-left: 6px;
  }

  .hero-section__button {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: center;
  }

  .hero-section__button {
    margin-right: -12px;
    margin-top: 25px;
    align-self: center;
  }

  .main--hero-tag {
    margin-bottom: 5px;
    margin-right: 0px;
  }

  .hero-section__tags-wrapper {
    align-items: flex-end;
    flex-direction: column;
  }

  .hero-section__tag:not(.main--hero-tag) {
    margin-bottom: 19px;
  }

  .hero-section__tag:not(.main--hero-tag):first-child {
    margin-right: 0;
  }

  .hero-section__tag:not(.main--hero-tag):nth-child(2) {
    margin-left: 10px;
    margin-right: 0;
  }

  .hero-section__tag:not(.main--hero-tag):nth-child(3) {
    margin-left: 10px;
    margin-right: 0;
  }

  .hero-section__title {
    font-size: var(--h5-font-size);
    line-height: var(--h5-line-height);
    margin-bottom: 0;
    max-inline-size: 480px;
  }

  .hero-section__meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
    margin-left: 2px;
  }

  .hero-section--meta-date,
  .hero-section--meta-time {
    display: inline-block;
  }

  .hero-section--meta-date {
    margin-left: 40px;
    margin-bottom: 10px;
  }

  .hero-section--meta-date.meta-date::before {
    top: 3px;
    left: 135px;
  }

  .hero-section--meta-time {
    margin-left: 120px;
  }

  .meta-date::before {
    top: 2px;
  }

  .meta-time::before {
    top: 2px;
    left: -24px;
  }

  .hero-section--meta-time.meta-time::before {
    top: 2px;
    left: 56px;
  }

  .marquee-line__text {
    font-size: 30px;
  }

  .marquee-line {
    block-size: 80px;
  }

  .marquee-line--hero {
    top: 905px;
    left: 0;
    transform: rotate(-3deg);
  }

  /* -------------- */

  .popular-articles {
    position: relative;
  }

  .popular-articles::after {
    top: 406px;
    left: 0;
    background: url(/images/tablet-articles-linebg.png) no-repeat;
  }

  .popular-articles--container {
    padding-top: 272px;
  }

  .popular-articles__card:first-child {
    margin-right: 24px;
  }

  .popular-articles__card-image:not(.card-image--large) {
    inline-size: 340px;
    block-size: 224px;
    margin-bottom: 24px;
  }

  .fashion--sticker,
  .design--sticker,
  .software--sticker {
    top: -31px;
    left: 190px;
    scale: 0.59;
  }

  .design--sticker-2 {
    top: -22px;
    left: 546px;
    scale: 0.67;
  }

  .marketing--sticker {
    top: -47px;
    left: 131px;
    scale: 0.59;
    rotate: 15deg;
  }

  .card-image--large {
    block-size: 320px;
    margin-bottom: 23px;
  }

  .popular-articles__card-title {
    font-size: 24px;
    line-height: var(--text-18-line-height);
  }

  .popular-articles__card-description {
    padding-right: 0;
    margin-bottom: 16px;
  }

  .popular-articles__card:nth-child(3) {
    margin-top: 101px;
  }

  .popular-article__content:nth-child(3) {
    padding-left: 0;
    margin-bottom: 90px;
  }
  .accent--text-content {
    margin-left: 13px;
  }

  .tags--design.tags-design--accent {
    margin-top: 3px;
    margin-left: 47px;
  }

  .tags--design {
    margin-bottom: 15px;
  }

  .tags-design__inner-wrapper .tag--design:first-child {
    margin-left: 7px;
  }

  .meta--design {
    margin-top: 16px;
  }

  .meta--design .meta-time::before {
    left: 55px;
  }

  .card-title--accent {
    padding-right: 0;
    font-size: 26px;
    line-height: 31.2px;
    margin-bottom: 9px;
  }

  /* ---------------- */

  .marquee-line--webinars {
    top: 3237px;
  }

  .webinars {
    margin-top: 60px;
    padding-top: 120px;
    padding-bottom: 73px;
    padding-inline: 32px;
    clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%);
  }

  .webinars::after {
    background: url(/images/tablet-webinars-linebg.png);
    background-size: cover;
    top: 97px;
    left: -5px;
  }

  .webinars__up {
    margin-bottom: 65px;
  }

  .webinars__content {
    padding-top: 33px;
  }

  .webinars__title {
    margin-right: 130px;
    margin-bottom: 83px;
    position: static;
    padding-top: 16px;
    font-size: 28px;
    line-height: 33.6px;
  }

  .webinars__card-position {
    overflow: visible;
  }

  .webinars__card-list {
    inline-size: 100%;
    gap: 24px;
  }

  .webinars__card-item {
    inline-size: 340px;
    block-size: 401px;
    padding: 22px 24px 24px;
  }

  .webinars__card-item::after {
    top: 81px;
    block-size: 100%;
  }

  .webinars__card-item:nth-child(2)::after {
    transform: scaleX(-1);
    rotate: 194deg;
    top: 0;
    left: 73px;
    block-size: 130%;
  }

  .webinars__card-item:nth-child(3)::after {
    background: url(/images/tablet-webinars-linebg3.png) no-repeat;
    top: -130px;
    left: 20px;
    inline-size: 100%;
    block-size: 150%;
  }

  .webinars__card-item:nth-child(n + 3) {
    inline-size: 100%;
    block-size: 272px;
  }

  .webinars__card-header {
    block-size: fit-content;
  }

  .webinars__card-body {
    flex-grow: 1;
  }

  .webinars__card-description--small-width {
    margin-right: 35px;
  }

  .webinars__card-description {
    font-size: 24px;
    line-height: var(--text-18-line-height);
  }

  .webinars__card-footer {
    margin-top: -10px;
  }

  .footer--position {
    margin-top: -35px;
  }

  .webinars__card-date {
    max-inline-size: 200px;
  }

  .date--max-width {
    max-inline-size: 100%;
  }

  .marquee-line.marquee-line--subscribe {
    top: -53px;
    rotate: 1deg;
  }

  .subscribe {
    padding-top: 147px;
    padding-bottom: 151px;
  }

  .subscribe--container {
    inline-size: 704px;
  }

  .subscribe-wrapper {
    background: #57acbc;
    padding: 40px 24px;
    inline-size: 530px;
    border-radius: 30px;
    block-size: 498px;
  }

  .subscribe-wrapper:after {
    top: 0;
    right: 102px;
    rotate: 7deg;
    inline-size: 120%;
  }

  .subscribe-wrapper::before {
    background: url(/images/tablet-form-illustration.png) no-repeat;
    top: 0;
    right: -302px;
  }

  .subscribe__title {
    font-size: 26px;
    line-height: 31.2px;
    inline-size: 368px;
  }

  .subscribe__description {
    inline-size: 368px;
    margin-bottom: 64px;
    padding-right: 0;
  }

  .subscribe-form__controls {
    flex-direction: column;
  }

  .subscribe-form__checkbox-wrapper {
    inline-size: 360px;
  }

  .subscribe-form__checkbox-info {
    font-size: var(--text-13-font-size);
    line-height: var(--text-13-sls-line-height);
  }

  .subscribe-form__success-submit-wrapper {
    margin-top: 115px;
  }

  .subscribe-form__success-submit {
    inline-size: 280px;
    border-radius: 24px;
    block-size: 114px;
    padding-top: 29px;
    padding-right: 85px;
  }

  .subscribe-form__success-submit.active::before {
    top: -40px;
    right: -30px;
    scale: 0.86;
  }

  /* --------------- */

  .marquee-line--footer {
    top: -41px;
  }

  .marquee-line--footer .marquee-line__text {
    font-size: 44px;
  }

  .footer__content {
    flex-direction: column;
  }

  .footer__content-left {
    display: flex;
  }

  .footer--container {
    grid-column: repeat(3, 1fr);
    padding-top: 103px;
  }

  .footer__logo {
    grid-column: 1 /2;
  }

  .footer__logo-icon {
    inline-size: 174px;
  }

  .footer__logo-image {
    inline-size: 64px;
    block-size: 64px;
  }

  .footer__subscribe {
    margin-left: 72px;
    margin-top: 0;
    grid-row: 1/2;
    grid-column: 2 / 3;
  }

  .footer__subscribe-input {
    margin-bottom: 16px;
  }

  .footer__content-menu {
    margin-top: -36px;
    margin-left: 0;
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .footer__links:nth-child(1) {
    margin-right: 72px;
  }

  .footer__links:nth-child(2) {
    margin-right: 74px;
  }

  .footer__links:nth-child(3) {
    margin-right: 96px;
  }

  .footer__links-item a span {
    display: inline-block;
  }

  .footer__contacts-list {
    margin-top: 78px;
  }

  .footer__contacts-socials {
    margin-top: -158px;
    margin-left: 0;
    grid-column: 1/2;
    grid-row: 2;
  }

  .footer__contacts-confidentiality {
    margin-top: -19px;
    gap: 25px;
  }

  .footer__contacts-confidentiality::before {
    top: -26px;
    inline-size: 100%;
  }
}
