:root {
  --text-font: 'Nunito', sans-serif;
  --heading-font: 'Archivo Black', sans-serif;
  --h1-font-size: 58px;
  --h1-line-height: 69.6px;
  --h2-font-size: 46px;
  --h2-line-height: 55.2px;
  --h3-font-size: 36px;
  --h3-line-height: 43.2px;
  --h4-font-size: 30px;
  --h4-line-height: 36px;
  --h5-font-size: 26px;
  --h5-line-height: 31.2px;
  --text-21-font-size: 21px;
  --text-18-font-size: 18px;
  --text-15-font-size: 15px;
  --text-13-font-size: 13px;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --bold-font-weight: 700;
  --text-21-line-height: 33.6px;
  --text-18-line-height: 28.8px;
  --text-15-line-height: 21px;
  --text-13-line-height: 20.8px;
  --text-13-sls-line-height: 18.2px;
  --main-bg-color: #fcfaf9;
  --title-color: #1b1f21;
  --description-color: #757778;
  --accent-color: #1b1f21;
  --subscribe-bg-color: #f2f2f2;
}

[data-theme='dark'] {
  --main-bg-color: #1b1f21;
  --subscribe-bg-color: #1b1f21;
  --title-color: #cac3c3;
  --description-color: #a09898;
  --accent-color: #fff;
}
