:root {
  --main-color: #98b72e;
  --main-color-dark: #6b8121;
  --secondary-color: #542881;
  --accent-color: #b12c49;
  --title-font: 'PressStart2P-Regular', sans-serif;
  --subtitle-font: 'Roboto-Bold', sans-serif;
  --description-font-medium: 'Roboto-Medium', sans-serif;
  --description-font-regular: 'Roboto-Regular', sans-serif;
  --hover-primary-color: #dbf970;
}
