.webinars {
  background-color: #1b1f21;
  position: relative;
  padding-top: 142px;
  padding-bottom: 104px;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}

.webinars::after {
  content: "";
  background: url(/images/webinars-Line-bg.png);
  position: absolute;
  top: -40px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.webinars__content {
  inline-size: 100%;
  padding-top: 40px;
}
.webinars__up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.webinars__title {
  display: inline-block;
  margin-right: 447px;
  margin-bottom: 93px;
  font-family: var(--heading-font);
  font-size: var(--h2-font-size);
  font-weight: var(--regular-font-weight);
  line-height: var(--h2-line-height);
  color: #fcfaf9;
  position: relative;
  top: 8px;
}

.webinars__button {
  border-radius: 40px;
  padding: 15px 0px;
  inline-size: 280px;
  block-size: 64px;
  background: #9853f4;
  color: #fcfaf9;
  font-family: var(--text-font);
  font-size: var(--text-18-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--text-18-line-height);
}

.webinars__card-list {
  inline-size: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 82px;
  justify-content: center;
}

.webinars__card-item {
  padding: 32px;
  background: #57acbc;
  color: #fcfaf9;
  inline-size: 376px;
  block-size: 432px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.webinars__card-item::after {
  content: "";
  background: url(/images/webinars-card-linebg.png) no-repeat center center;
  background-size: contain;
  position: absolute;
  top: 110px;
  left: 88px;
  inline-size: 100%;
  block-size: 90%;
}

.webinars__card-item:nth-child(2)::after {
  background: url(/images/webinars-card-linebg2.png);
  inline-size: 100%;
  block-size: 120%;
  top: -54px;
  left: 45px;
}

.webinars__card-item:nth-child(3)::after {
  background: url(/images/webinars-card-linebg3.png) no-repeat center center;
  inline-size: 100%;
  block-size: 120%;
  top: -50px;
  left: -85px;
}

.webinars__card-item:nth-child(2) {
  background: #fe6d44;
}

.webinars__card-item:nth-child(3) {
  background: #ef9700;
}

.webinars__card-item:nth-child(3) .webinars__card-description {
  margin-bottom: 97px;
}

.webinars__card-header {
  display: flex;
  align-items: top;
  margin-bottom: 16px;
  block-size: 93px;
}

.webinars__card-image-wrapper {
  min-inline-size: 64px;
  block-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.webinars__card-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  mask-image: url(/images/webinars-card-mask.svg);
}

.webinars__card-image--ufo {
  mask-image: initial;
  min-inline-size: 64px;
  block-size: 64px;
}

.webinars__card-image--position {
  object-position: 100% 10%;
}

.webinars__card-title {
  margin-top: 7px;
}

.webinars__card-name {
  font-family: var(--heading-font);
  font-size: var(--h5-font-size);
  font-weight: var(--regular-font-weight);
  line-height: var(--h5-line-height);
  margin-bottom: 5px;
}

.webinars__card-position {
  font-family: var(--text-font);
  font-size: var(--text-15-font-size);
  font-weight: var(--medium-font-weight);
  line-height: var(--text-15-line-height);
  inline-size: 195px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.webinars__card-description {
  font-family: var(--heading-font);
  font-size: var(--h4-font-size);
  font-weight: var(--regular-font-weight);
  line-height: var(--h4-line-height);
  margin-bottom: 42px;
}

.webinars__card-tags {
  display: flex;
  gap: 28px;
  font-family: var(--text-font);
  font-size: var(--text-15-font-size);
  font-weight: var(--medium-font-weight);
  line-height: var(--text-15-line-height);
  margin-bottom: 12px;
}

.webinars__card-date-time {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-family: var(--text-font);
  font-size: var(--text-15-font-size);
  font-weight: var(--medium-font-weight);
  line-height: var(--text-15-line-height);
}

.webinars__card-date {
  padding: 0 25px;
  position: relative;
}

.webinars__card-date::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  background: url(/images/meta-date-Icon-webinars.svg) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.webinars__card-time {
  position: relative;
}

.webinars__card-time::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  background: url(/images/meta-time-Icon-webinars.svg) no-repeat;
  position: absolute;
  top: 3px;
  left: -25px;
}
