.webinars {
  background-color: #1b1f21;
  position: relative;
  margin-top: 60px;
  padding-top: 83px;
  padding-bottom: 104px;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}

@media (min-width: 1981px) and (max-width: 3840px) {
  .webinars::after {
    background: url(/images/webinars-4k-linebg.svg);
    top: -541px;
    left: -850px;
  }
}

.webinars__content {
  inline-size: 100%;
  padding-top: 96px;
}

.webinars__up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.webinars__title {
  display: inline-block;
  margin-right: 447px;
  margin-bottom: 90px;
  font-family: var(--heading-font);
  font-size: var(--h2-font-size);
  font-weight: var(--regular-font-weight);
  line-height: var(--h2-line-height);
  color: #fcfaf9;
  position: relative;
  top: 8px;
}

.webinars__button {
  border-radius: 40px;
  padding: 15px 0px;
  inline-size: 280px;
  block-size: 64px;
  background: #9853f4;
  color: #fcfaf9;
  font-family: var(--text-font);
  font-size: var(--text-18-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--text-18-line-height);
}

.webinars__card-list {
  inline-size: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 82px;
  justify-content: center;
}

.webinars__card-item {
  padding: 32px;
  background: #57acbc;
  color: #fcfaf9;
  inline-size: 376px;
  block-size: 432px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
