/* .result-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.result-page__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #1e3c72;
}

.result-page__table {
  inline-size: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.result-page__table th,
.result-page__table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.result-page__table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 170px;
}

.pagination button {
  padding: 10px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #b8d357;
  border: none;
  border-radius: 5px;
  color: white;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
} */

.result-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Оставляем контент в верхней части */
  align-items: center;
  margin: 20px;
  min-height: 100vh; /* Обеспечиваем, что контейнер заполняет весь экран */
  padding-bottom: 100px; /* Чтобы не перекрывать кнопки пагинации */
}

.result-page__title {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #1e3c72;
}

.result-page__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.result-page__table th,
.result-page__table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.result-page__table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

/* Пагинация */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 200px; /* Фиксируем кнопки пагинации внизу экрана */
  width: 100%;
  padding: 10px 0;
  z-index: 2;
}

.pagination button {
  padding: 10px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #b8d357;
  border: none;
  border-radius: 5px;
  color: white;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
}
