.result-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  padding-bottom: 100px;
}

.result-page__title {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
  color: #313030;
}

.result-page__table {
  border: none;
  inline-size: 100%;
  border-spacing: 0;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #f4f4f4;
  opacity: 0.8;
  overflow: hidden;
}

.result-page__table th,
.result-page__table td {
  padding: 10px;
  border-top: 1px solid #ccc;
  text-align: center;
  color: #313030;
}

.result-page__table th {
  padding-right: 25px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  border: none;
  font-size: 18px;
}

.result-page__table tbody {
  border: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.pagination__info {
  color: #313030;
}

.button.pagination__button {
  margin: 0 10px;
  font-weight: bold;
}

.pagination__button:disabled {
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
}

.sort-icon {
  inline-size: 20px;
  block-size: 20px;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.3s opacity ease;
  background-size: contain;
}

.sort-icon.ascending {
  background-image: url('./images/sort-asc.png');
  opacity: 1;
}

.sort-icon.descending {
  background-image: url('./images/sort-desc.png');
  opacity: 1;
}

.result-page__table th.active-column {
  background-color: #afadad;
}
