.result-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  padding-bottom: 100px;
}

.result-page__title {
  margin-top: 100px;
  margin-bottom: 20px;
  font-family: var(--title-font);
  text-shadow: 3px 3px 2px var(--accent-color);

  font-size: 26px;
  font-weight: bold;
  color: var(--main-color);
}

.result-page__table {
  border: none;
  inline-size: 100%;
  border-spacing: 0;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.result-page__table th,
.result-page__table td {
  padding: 10px;
  border-top: 3px solid var(--secondary-color);
  text-align: center;
  font-family: var(--subtitle-font);
  text-shadow: 3px 3px 2px var(--secondary-color);

  color: var(--main-color);
}

.result-page__table th {
  inline-size: 155px;
  padding-right: 30px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  border: none;
  font-size: 18px;
}

.result-page__table tbody {
  border: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.pagination__info {
  font-family: var(--description-font-medium);
  color: var(--main-color);
  text-shadow: 2px 2px 2px var(--accent-color);
}

.button.pagination__button {
  margin: 0 10px;
  font-weight: bold;
}

.pagination__button:disabled {
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
}

.sort-icon {
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  top: 30%;
  right: 0;
  opacity: 0;
  transition: 0.3s opacity ease;
  background-size: contain;
}

.sort-icon.ascending {
  background: url('./images/sort-asc.png') no-repeat;
  background-size: cover;
  opacity: 1;
}

.sort-icon.descending {
  background-image: url('./images/sort-desc.png');
  opacity: 1;
}

.result-page__table th.active-column {
  font-family: var(--subtitle-font);
  background-color: var(--main-color);
  color: var(--secondary-color);
  text-shadow: 2px 2px 2px var(--accent-color);
}
