.marquee-line {
  block-size: 117px;
  inline-size: 100%;
  font-family: var(--second-font);
  letter-spacing: 0.01em;
  transform: rotate(-4deg) scale(1.01);
  border: none;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.marquee-line__content {
  display: flex;
  align-items: center;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

.marquee-line__text {
  font-family: var(--heading-font);
  font-weight: var(--regular-font-weight);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  color: #1b1f21;
  margin-right: 43px;
  display: inline-block;
}

.marquee-line__icon {
  background: url(/images/star-icon-black.svg) no-repeat center center;
  background-size: cover;
  inline-size: 40px;
  block-size: 40px;
  margin-right: 10px;
  margin-right: 43px;
}

.marquee-line--webinars {
  transform: rotate(-3deg) scale(1.01);
  top: 160px;
}

.marquee-line--subscribe {
  transform: rotate(2deg) scale(1.01);
  position: relative;
  bottom: 75px;
}

.marquee-line--subscribe::after {
  clip-path: polygon(0 10%, 100% 0, 100% 50%, 0 100%);

  content: '';
  inline-size: 100%;
  block-size: 140px;
  top: 115px;
  position: absolute;
  background-color: #f2f2f2;
  z-index: -2;
}

.marquee-line--footer {
  transform: rotate(0deg) scale(1.01);
}

.marquee-line--footer .marquee-line__text {
  color: #f2f2f2;
}

.marquee-line--footer .marquee-line__icon {
  background: url(/images/star-icon-white.svg) no-repeat center center;
}

@keyframes marquee {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(0);
  }
}
